* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
    background: #222222;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 10px 2%;
    background-color: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    position: fixed;
    border-bottom: solid 1px #b405fc;
  }

header img {
  max-width: 250px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul li a {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;   
    opacity: 0.5;
    transition: all 0.3s ease;
    border: 2px solid #b405fc;
    padding: 5px 10px;  
}

ul li a:hover {
    font-weight: 700;
    opacity: 1;
    color: #b405fc;
}

ul li a.active {
    font-weight: 700;
    opacity: 1;
    color: #b405fc;
  }
